<div class='main-header'>
  <div class='main-header-room'>
    <a href="#" class='main-header-room-name'>hogefuga</a>
  </div>
  <div class='delete-room'>
    <a href="#" class='delete-room-btn'>チャットを終了する</a>
  </div>
</div>
<div class='main-messages'>
  <div class='main-message'>
    <div class='uppar-contents'>
      <div class='message-user-name'>Tom</div>
      <div class='message-create-date'>2020/3/3</div>
    </div>
    <div class='down-contents'>おはよう</div>
  </div>
  <div class='main-message'>
    <div class='uppar-contents'>
      <div class='message-user-name'>cary</div>
      <div class='message-create-date'>2020/3/3</div>
    </div>
    <div class='down-contents'>こんばんは</div>
  </div>
</div>
<div class='main-form'>
  <form class='form'>
    <div class='form-input'>
      <input type="text" class='text-form' placeholder='type a message'>
      <label class='form-image'>
        <span class='image-file'>画像</span>
        <input type="file" class='hidden'>
      </label>
    </div>
    <input type="submit" value='送信' class='send-btn'>
  </form>
</div>