.wrapper{
  display: flex;
}

/* サイド部分 */
.side-bar{
  background-color: #253141;
  width: 300px;
}

.side-header{
  background-color: #253141;
  padding: 0 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name{
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}

.create-room{
  font-size: 10px;
  text-decoration: none;
  color: deepskyblue;
  padding: 14px;
  border: 1px solid lightblue;
}

.side-rooms{
  background-color: #2f3e51;
  padding: 0 20px;
  height: calc(100% - 100px);
}

.side-room{
  padding: 20px 0 40px;
}

.side-room-name{
  color: white;
}

/* メイン部分 */
.main-chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
  height: 100vh;
}

.main-header{
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
}

.main-message{
  background-color: #fafafa;
  height: calc(100% - 190px);
  padding-top: 46px;
  padding: 0 40px; 
}

.main-form{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}